<div ng-controller="EmployeeAddController">
    <h2>Add Employee</h2>
    <form name="newEmployeeForm" ng-submit="submitNewEmployee()" novalidate>
        <div class="modal-body">
            <div class="form-group col-sm-6">
                <input ng-model="employee.FirstName" required type="input" class="form-control" id="inputName" aria-describedby="First Name" placeholder="First Name">
            </div>
            <div class="form-group col-sm-6">
                <input ng-model="employee.LastName" required type="input" class="form-control" id="inputName" aria-describedby="Last Name" placeholder="Last Name">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputStartDate">Start Date</label>
                <input ng-model="employee.EmployeeStartDate" required type="date" class="form-control" id="inputStartDate" aria-describedby="startDate" placeholder="Start Date">
            </div>
            <div class="form-group">
                <select id="deparmentDropdown" ng-model="department.DepartmentId" ng-options="department as department.Name for department in departments track by department.DepartmentId">
                    <option ng-repeat="department in departments">{{department.Name}}</option>
                </select>
            </div>
            <div class="btn-block">
                <button ng-click="addNewEmployee()" ng-disabled="newEmployeeForm.$invalid" class="btn btn-primary save-btn">Save</button>
                <button type="button" class="btn btn-warning" ng-click="navigateToEmployees()">Cancel</button>
            </div>
        </div>
    </form>
</div>