<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
    <a class="navbar-brand" href="/">Orientation API</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" ng-href="#!/employees">Employees <span class="sr-only">Employees</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-href="#!/Departments">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-href="#!/Computers">Computers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-href="#!/Training">Training Programs</a>
            </li>
        </ul>
    </div>
</nav>