<div id="trainingPrograms-container" class="container-fluid">
    <h2>Training Programs</h2>
    <table id="training-programs-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Program Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Max Attendees</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="program in programs">
                <td>{{program.Name}}</td>
                <td>{{program.Description}}</td>
                <td>{{program.StartDate | amDateFormat:'MMMM DD YYYY'}}</td>
                <td>{{program.EndDate | amDateFormat:'MMMM DD YYYY'}}</td>
                <td>{{program.MaxAttendees}}</td>
            </tr>
        </tbody>
    </table>
    <button ng-click="navigateToAdd()" class="btn btn-primary add-btn">Add Training Program</button>

</div> 