<div ng-controller="TrainingPrograms/EditController" id="program-delete">
    <div class="modal-header">
        <h3 class="modal-title">Delete Training</h3>
    </div>
    <div class="modal-body">
        <div>
            <p>Are you sure you want to delete <strong>{{programName}}</strong></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="deleteTraining()">Delete</button>
            <button class="btn btn-secondary" ng-click="$dismiss('canceled')">Cancel</button>
        </div>
    </div>
</div>
