<div ng-controller="TrainingPrograms/EditController" ng-init="getTrainingById()" id="program-detail">
    <h2>{{programName}} Details</h2>
    <form name="EditProgramForm" ng-submit="submitUpdatedProgram()" novalidate>
        <div ng-include src="'App/Partials/TrainingPrograms/Form.html'" onload="toggleEditMode()"></div>
        <div ng-show="formDisabled && isFutureTraining" class="btn-block">
            <button type="button" class="btn btn-primary" ng-click="toggleEditMode()">Edit</button>
            <button type="button" class="btn btn-danger" ng-click="launchModal('App/Partials/TrainingPrograms/Delete.html','TrainingPrograms/EditController')"
                    ng-controller="ModalController">Delete</button>
        </div>
        <div ng-show="!formDisabled" class="btn-block">
            <button ng-disabled="newProgramForm.$invalid" class="btn btn-primary save-btn">Save</button>
            <button type="button" class="btn btn-warning" ng-click="toggleEditMode()">Cancel</button>
        </div>
    </form>
</div>