p {
    font-size: 1.2em;
}

ul {
    list-style: none;
}

a {
    underline: none;
}

a.trainingProgram {
    font-size: 1.5em;
}

.modal-dialog {
    top: 5%;
    left: 0%;
    outline: none;
}
#background-image {
    background-image: url("https://cdn.shopify.com/s/files/1/0267/4223/products/vincent-and-jules-t-shirt-pulp-fiction-teeturtle_800x.jpg?v=1508779053");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.1;
    filter: alpha(opacity=80);
}