<div class="container">
    <h1>Hello and welcome to Bangazon by Still Not Quite Human Matrix</h1>

    <div class="col-sm-6">
        <h3>Our Story:</h3>
        <p>What if virtual reality wasn't just for fun, but was being used to imprison you? In this Disney adventure, the third in a series, the year is actually closer to 2199, and it seems Chip, the android boy, must save his father from the The Matrix, a massive artificial intelligence system that has tapped into people's minds and created the illusion of a real world, while using their brains and bodies for energy, tossing them away like spent batteries when they're through. To do so, he reconfigures his father's robotic look-a-like, "The One", and then prepares to face the spooky Matrix and bring his people to both physical and psychological freedom.</p>
    </div>

    <div class="col-sm-6">
        <h3>Our Misson:</h3>
        <p>
            The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.
        </p>
    </div>
</div>
<hr />

<div class="container">
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Computers <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#!/computers">View All</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#!/computers/new">Add New</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Training <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#!/training">View All</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#!/training?new=true">Add New</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Departments <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#!/departments">View All</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#!/departments/new">Add New</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Employees <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#!/employees">View All</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#!/employees/new">Add New</a></li>
        </ul>
    </div>
</div>


